.charts {
  width: 50%;
  height: 35rem;
  margin-top: 5rem;
}

.barcharts {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center
}


@media (max-width: 992px) {
  .charts {
    margin-top: 2.5rem;
    width: 100%;
    height: 30rem;
  }
}

@media (max-width: 576px) {
  .charts {
    width: 100%;
    height: 25rem;
    margin-top: 1rem;
  }
}