table {
  width: 100%;
  border-collapse: collapse;
}

.tableHead {
  text-align: left;
  margin-right: 1rem;
  margin-left: 1rem;
  color: #1A1053;
  /* border-bottom: 2px solid black; */
}

.tableHead-Button {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-radius: 2rem;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  padding: 1rem 2rem;
  text-align: left;
  margin-bottom: 1px;
  background-color: #1A1053;
  color: #fff;

  /* margin: 1rem; */
  transition: all .4s;
}

.tableHead-Button:hover,
.tableHead-Button:focus {
  outline: none;
  border: none;
}

.tableHead-Button.ascending::after {
  content: '\2193';
  display: inline-block;
  margin-left: 1em;
}

.tableHead-Button.descending::after {
  content: '\2191';
  display: inline-block;
  margin-left: 1em;
}

.state-td {
  color: #1A1053;
  padding: 1rem 2rem;
  margin-top: 5rem;
}

.state-tr {
  border-radius: 2rem;
}

.state-tr:hover {
  background-color: #1A1053;
  transition: all .3s;

}

.state-tr:hover td {
  color: #fff;
}

.state-tr:nth-child(even) {
  background: rgba(235, 235, 235, 0.541);
}

.state-tr:nth-child(even):hover {
  background-color: #1A1053;
}

.districtHead {
  margin: 1.5rem 1rem;
  background-color: #1A1053;
  padding: 1rem 3rem;
  color: #fff
}

.district-td {
  padding: 1rem 3rem;
  margin-bottom: 1rem;
}

.district-tr {
  border: 1px solid #1A1053;
}